@model WebApplication2.Models.Student

@{
    Student s=Model;


<h1>Login </h1>

<h3>Enter your password</h3>

    <div class="row">
    <form asp-action="Login">
        <input type="hidden" value="@s.Id" name="Id"/>
        <input type="text" value="@s.Email" name="Email"/>
        <input type="text" value="" name="Phone"/>
    <input type="submit" value="Login" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    </div>
}