@using App.Models;

@{
    List<Trainer> trainers=Model;
    <h1>Welcome To Gym</h1>
    <hr>
    <a href="/gym/index">Go To Index</a>
    <hr>
    <table>
        <Tr>
            <th>Trainer_name</th>
            <th>Status</th>
            <th>#</th>
        </Tr>
        @foreach(Trainer t in trainers){
        <Tr>
            <td>@t.Name</td>
            <td>@t.Status.ToString()</td>
            <td><a href="/gym/login/@t.Id">Login</a></td>
        </Tr>
        }
    </table>

    <a href="/gym/add">New Trainer</a>
}